---
import CategoriesPosts from '~/components/CategoriesPosts.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import LayoutPost from '~/layouts/LayoutPost.astro'
import { getPostDescription } from '../../utils'
import type { Page } from 'astro'

export interface Props {
  category: string
  title: string
  route?: 'posts' | 'brain' | 'manifiests' | 'poetry'
  page: Page
}

const { page } = Astro.props
let { category, title, route } = Astro.props
route ??= 'posts'

---

<LayoutDefault>
  <CategoriesPosts title={title} category={category} />

  <section contain-layout flex="~ col gap-7.5">
    {
      page.data.map((post) => (
        <LayoutPost post={post}, route={route}>
          <p class="line-clamp-4">{getPostDescription(post)}</p>
        </LayoutPost>
      ))
    }
  </section>
  <script is:inline defer>
    document.querySelectorAll('.post-random-order').forEach((el) => {
      el.style.order = `${Math.floor(Math.random() * 99999)}`
    })
  </script>
</LayoutDefault>
