---
import CategoriesPosts from '~/components/CategoriesPosts.astro'
import Pagination from '~/components/Pagination.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import LayoutPost from '~/layouts/LayoutPost.astro'
import { getPostDescription } from '../../utils'
import type { Page } from 'astro'

export interface Props {
  category: string
  title: string
  route?: 'posts' | 'brain' | 'manifiests' | 'poetry'
  page: Page
}

const { translate: t } = Astro.locals
const { page } = Astro.props
let { category, title, route } = Astro.props
route ??= 'posts'

---

<LayoutDefault>
  <CategoriesPosts title={title} category={category} />

  <section contain-layout flex="~ col gap-7.5">
    {
      page.data.map((post) => (
        <LayoutPost post={post}, route={route}>
          <p class="line-clamp-4">{getPostDescription(post)}</p>
        </LayoutPost>
      ))
    }
  </section>
  <Pagination
    showLeft={Boolean(page.url.prev)}
    leftTitle={t('prev')}
    leftUrl={page.url.prev}
    showRight={Boolean(page.url.next)}
    rightTitle={t('next')}
    rightUrl={page.url.next}
    currentPage={page.currentPage}
    totalPage={page.lastPage}
  />
</LayoutDefault>
