---
import type { CollectionEntry } from 'astro:content'
import Pagination from '../Pagination.astro'
import SiteSeo from '../SiteSeo.astro'
import LayoutDefault from '../../layouts/LayoutDefault.astro'
import { render } from 'astro:content'
import LayoutPost from '../../layouts/LayoutPost.astro'

export interface Props {
  entry: CollectionEntry<'posts'>
  prev?: CollectionEntry<'posts'>
  next?: CollectionEntry<'posts'>
  routePrefix: string
  title: string
  route?: 'posts' | 'brain' | 'manifiests' | 'poetry'
}

let { entry, prev, next, routePrefix, route } = Astro.props
route ??= 'posts'
const { Content } = await render(entry)
const { translate: t } = Astro.locals

function getUrl(id?: string) {
  return id ? `/${routePrefix}/${id}` : undefined
}
---

<LayoutDefault>
  <SiteSeo slot="seo" title={entry.data.title} desc={entry.data.description} banner={entry.data.banner} />

  <LayoutPost post={entry} route={route}>
    <Content />
  </LayoutPost>
  {/* TO-DO: make this random too */}
  <Pagination
    showLeft={Boolean(prev)}
    leftTitle={`${t('prev_post')}: ${prev?.data.title}`}
    leftUrl={getUrl(prev?.id)}
    showRight={Boolean(next)}
    rightTitle={`${t('next_post')}: ${next?.data.title}`}
    rightUrl={getUrl(next?.id)}
    showPageCount={false}
  />
</LayoutDefault>

<script>
  import '@github/clipboard-copy-element'

  document.addEventListener('clipboard-copy', (event) => {
    const target = event.target as HTMLElement
    const icon = target.querySelector('.icon') as HTMLElement
    icon.classList.replace('i-mdi-content-copy', 'i-mdi-check')
    setTimeout(() => {
      icon.classList.replace('i-mdi-check', 'i-mdi-content-copy')
    }, 1500)
  })

  const codeBlocks = Array.from(document.querySelectorAll('pre'))
  const icon = "<div class='i-mdi-content-copy icon text-white'></div>"
  for (const codeBlock of codeBlocks) {
    const wrapper = document.createElement('div')
    wrapper.className = 'code-container'

    const copyButton = document.createElement('clipboard-copy')
    const code = codeBlock.querySelector('code')
    copyButton.value = code?.textContent ?? ''
    copyButton.className = 'clipboard-copy'
    copyButton.innerHTML = icon

    codeBlock.appendChild(copyButton)

    codeBlock.parentNode?.insertBefore(wrapper, codeBlock)
    wrapper.appendChild(codeBlock)
  }
</script>

<style is:global>
  .code-container {
    position: relative;
  }
  .clipboard-copy {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
  }

  .clipboard-copy:hover {
    background-color: #30363d;
  }
</style>
