---
import { getPosts } from '~/utils'

const { filter, title } = Astro.props

const posts = await getPosts()
const seen: { [key: string]: boolean } = {}
const gente = posts
  .filter(filter ? filter : () => true)
  .map((post) => ({
    nombre: post.data.author,
    href: `/authors/${post.data.author}`,
  }))
  .filter((item) => {
    return seen[item.nombre || ''] ? false : (seen[item.nombre || ''] = true)
  })
---

<h2 class="text-2xl">{title}</h2>
<ul class="text-left flex flex-wrap gap-2 justify-between list-none">
  {
    gente.map(({ href, nombre }) => (
      <li class="m-2 whitespace-nowrap firma">
        <a href={href}>{nombre}</a>
      </li>
    ))
  }
</ul>

<!-- <h4>Genodemia</h4>

<div class="text-left flex flex-wrap gap-2 justify-between">
  {
    genodemia.map(({ href, nombre }) => (
      <a href={href} class="m-2 whitespace-nowrap firma">
        {nombre}
      </a>
    ))
  }
</div> -->

<script is:inline defer>
  document.querySelectorAll('.firma').forEach((el) => {
    el.style.order = `${Math.floor(Math.random() * 99999)}`
  })
</script>
