---
import { themeConfig } from '~/.config'

const year = new Date().getFullYear()

const { website, author, footer, socialLinks } = themeConfig.site

function parseFooter(str: string) {
  str = str.replace(/%author/g, author)
  str = str.replace(/%website/g, website)
  str = str.replace(/%year/g, year.toString())
  return str
}
---

<div class="flex flex-col gap-2">
  <ul flex="~ row gap-1">
    {
      socialLinks.map(({ href, name }) => (
        <li>
          <a href={href} target="_blank" title={name} class="not-underline-hover inline-flex items-center">
            <span class:list={[`i-mdi-${name}`, 'w-6 h-6']}>{name}</span>
          </a>
        </li>
      ))
    }
  </ul>
  {footer.length && footer.map((str) => <p set:html={parseFooter(str)} />)}

  <style>
    p {
      --at-apply: 'font-bold text-3';
    }
  </style>
</div>
